@font-face {
	font-family: 'Century Gothic';
	src: local('Century Gothic'), local('CenturyGothic'),
			url('../fonts/century-gothic/CenturyGothic.woff2') format('woff2'),
			url('../fonts/century-gothic/CenturyGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Century Gothic';
	src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
			url('../fonts/century-gothic/CenturyGothic-Bold.woff2') format('woff2'),
			url('../fonts/century-gothic/CenturyGothic-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon/icomoon.ttf?d428wi') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?d428wi') format('woff'),
    url('../fonts/icomoon/icomoon.svg?d428wi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e90d";
}
.icon-map-marker:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-rouble:before {
  content: "\e910";
}
.icon-select-arrows:before {
  content: "\e911";
}
.icon-way:before {
  content: "\e912";
}
